

.navbar-container {
  width: 100%;
  background-color: #172554;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}



.navbar {
  width: 90%;
  max-width: 1200px;
  min-height: 75px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.navbar-logo img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}



.navbar-links {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 10px 13px;
  font-size: 14px;
  border-radius: 6px;
  transition: 0.3s;
  
}



.navbar-links li a:hover {
  background-color: #3730a3;
}



.navbar-links .btn a {
  background-color: #f77111;
  padding: 11px 18px;
  margin-left: 8px;
}

.navbar-links .btn a:hover {
  background-color: #ea580c;
}


